*, *:before, *:after {
  box-sizing: border-box;
}

body {

    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    padding-right: 20px; /* 3 */
    padding-left:  20px; /* 3 */

    
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input, select {
  margin-right: 20px;
}

.marginRight {
  margin-right: 20px;
}

table, th, td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  margin: 10px 0;
}

table > tbody > tr > td {padding: 5px;}
table > tbody > tr > td:first-child {font-weight: bold;}

div.content {
  margin-top: 10px;
}

.collapsibleHeading {
  padding: 0;
}

.accordion-head  {
  background-color: #f0eeef !important;
  color: rgb(0, 0, 0) !important;
  padding: 0 0 0 20px !important;
  margin-top: 10px;
}

h2 {
  padding:10px 0 10px 0;
  margin: 0px;
}

.link {
  text-decoration: underline;
  color: darkblue;
  cursor: pointer;
}
div.infobit {
  background-color: gainsboro;
  margin-bottom: 20px;
  padding: 20px;
}

.item-block {
  border: 1px solid gainsboro;
  margin: 10px 0;
  padding: 15px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.main-term {font-weight: bold; font-size: 20px;}
.code-caption {font-weight: bold;}
textarea {width: 100%;  height: 100px;}
.top {padding: 20px 0 10px 0; border-bottom: solid 1px darkblue;
margin-bottom: 10px;}

/* popup */
.content {
  display: flex; align-items: center;
  padding: 10px;
  font-size: 20px;
}

#alert {
  padding: 5px;
}

#popup {
  position: absolute;
  display: none;
  padding: 5px;
}

.view {
  background: lightblue;
  border: 1px solid green;
  padding: 10px;
  font-size: 14px;
  width: 150px;
  height: 80px;
  overflow: auto;
}

/* autosuggest-match block*/
.match-block {
  display: flex; align-items: center; cursor: pointer;
}
.match-block > span > b {
  margin-left: 5px;
}

.popup {
  /* position: absolute; */
  top: 60px;
  left: 13px;
  width: 480px;
  height: 500px;
  background: white;
  border: 4px solid #3275a8;
  overflow: hidden;
  /* display over all other elements, z-index defines 'layer' position */
  z-index: 100;
}

.popup > div.header {
  background: #3275a8;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: space-between;
}
.popup > div.header > span.popup-close {
  cursor: pointer;
}
.popup > div.content {
  overflow-y: auto;
  position: relative;
  height: 90%;
  display: block;
}